form(action="../" method="POST") 
    div.form-group
        label(for="name") Name :
        input(type="text", name="name")
        
    div.form-group
        label(for="email") Email :
        input(type="email", name="email")
        
    div.form-group
        label(for="color") Favourite color :
        input(type="text", name="color")

    button(type="submit").button-style Send
        