div.searchbar    
    form(action="../search" method="GET").searchform 
        div.top-row
            button(type="submit").search-button Search
            input(type="text", name="query").search-input            

        div.filter 
            select(name="orderby", value="date").sort-by 
                option(value="date") Newest
                option(value="relavance") Relvance 
                option(value="title") Tiltle