doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content = `${description}`)
        meta(property="og:image" content = `${ogImage}`)
        meta(name="og:url" content = `${ogUrl}`)
        title 404 | KISI Articles       
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="/styles/home.css")
    body 
        header 
            include includes/header
        main
            div 404. Page not found