extends extends/layout

block content

    include includes/searchbar
            
    h2.page-header.result-page Search Results            

    ul.article-container 
        for article in articles
            li.article-list-item  
                a(href=article.url).article-item !{article.title}                