@import url("./styles/searchbar.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background: none;
  border: none;
}

header {
  display: flex;
  background-color: rgb(2, 0, 34);
  padding: 0.7rem 0.3rem;
  position: sticky;
  top: 0;
  width: 100%;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 4rem;
}

.page-header {
  text-transform: uppercase;
  margin-left: 1rem;
  color: blue;
  text-align: center;
  font-size: x-large;
}

.button-style {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 7px 15px;
  border-radius: 4px;
}

.button-style:hover {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: rgb(22, 22, 22);
  border: 1px solid rgb(22, 22, 22);
}

footer {
  background: lightgray;
  padding: 2rem 0;
}

footer form {
  width: 90%;
  margin: 0 auto;
}

footer .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

footer .form-group label {
  font-style: italic;
  font-weight: 500;
}
footer .form-group input {
  padding: 0.4rem;
}

@media (min-width: 768px) {
  .page-header {
    font-size: xx-large;
  }

  footer form {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  footer form {
    width: 25%;
  }
}
